html {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: rgb(5, 5, 5);
}

#bg {
  position: fixed; 
  top: 5px; 
  left: 0; 
	
  /* Preserve aspet ratio */
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

@font-face {
  font-family: 'riesling';
  src: url("public/pier.otf") format("opentype");
}  

.backgroundImage {
	width: 100%;
	height: 100%;
}

.border{
	border:2px solid green;
}

.heightNavbar:{
	border: 2px solid green;
}

.header{
	width:100%;
	height:80px;
	background-color: #FAF7EF;
	align-items: center;
	font-family: 'riesling';
	letter-spacing: 3px;
	backface-visibility: hidden;
	z-index: 1;
}

.header1{
	display: flex;
	flex-direction:row;
	width:100%;
	justify-content: space-between;
}

.header2{
	display: flex;
	flex-direction: row;
	width:40%;
	justify-content:space-around;
}

.text1{
	color: black;
}

.home{
	width: 100px;
	border:2px solid green;
}

#toggle {
	position: relative;
	display: flex;
    justify-content: center;
}

.categories1{
	
}

.categories2{
	display: flex;
	height: 100%;
	width: 95%;
	z-index: 3;
	z-index: 3;
	margin-top: 10%;
	/*height: 700px;*/
}

.marginRight {
	margin-right: -182%;
}
rect.pullTabBtn {
  stroke:#fff;
  fill:#fff;
  fill-opacity:0;
  stroke-opacity:0;
}
