html {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: #FAF7EF;
}

#titleLogo {
  position: fixed; 
  top: 5px; 
  left: 43%; 
	
  /* Preserve aspet ratio */
  margin:auto;
  width: 15%;
  height: 15%;
	z-index: 2;
}

#item1 {
	position: fixed; 
	margin-top:20%;
	margin-left:20%;
	height: 120px;
	width: 120px;
	z-index:4;
}

#item2 {
	position: fixed; 
	margin-top:20%;
	margin-left:30%;
	height: 150px;
	width: 100px;
	z-index:4;
}

#item3 {
	position: fixed; 
	margin-top:33%;
	margin-left:19%;
	height: 150px;
	width: 150px;
	z-index:4;
}

#item4 {
	position: fixed; 
	margin-top:37%;
	margin-left:30%;
	height: 100px;
	width: 100px;
	z-index:4;
}

#item5 {
	position: fixed; 
	margin-top:18%;
	margin-left:48%;
	height: 150px;
	width: 150px;
	z-index:4;
}

#item6 {
	position: fixed; 
	margin-top:25%;
	margin-left:40%;
	height: 120px;
	width: 120px;
	z-index:4;
}

#item7 {
	position: fixed; 
	margin-top:33%;
	margin-left:50%;
	height: 120px;
	width: 120px;
	z-index:4;
}

#item8 {
	position: fixed; 
	margin-top:40%;
	margin-left:40%;
	height: 100px;
	width: 100px;
	z-index:4;
}

#bg1{
	position: fixed;
	left:150px;
	top:50px;
	width:100%;
	height:100%;
}

@font-face {
  font-family: 'riesling';
  src: url("public/pier.otf") format("opentype");
}  

.backgroundImage {
	width: 100%;
	height: 100%;
}

.heightNavbar:{
}

.header{
	width:100%;
	height:80px;
	background-color: #FAF7EF;
	align-items: center;
	font-family: 'riesling';
	letter-spacing: 3px;
	backface-visibility: hidden;
	z-index: 1;
}

.header1{
	display: flex;
	flex-direction:row;
	width:100%;
	justify-content: space-between;
}

.header2{
	display: flex;
	flex-direction: row;
	width:40%;
	justify-content:space-around;
}

.text1{
	color: black;
}

#toggle {
	position: relative;
	display: flex;
    justify-content: center;
}

.categories1{
	
	/*margin-left:90%;*/
	/*justify-content: center;
	border: 2px solid green;
	height: 100%;*/
}

.categories2{
	display: flex;
	height: 100%;
	width: 95%;
	z-index: 3;
	z-index: 3;
	margin-top: 10%;
	/*height: 700px;*/
}

.marginRight {
	margin-right: -182%;
}
rect.pullTabBtn {
  stroke:#fff;
  fill:#fff;
  fill-opacity:0;
  stroke-opacity:0;
}

.clickableSvg {
	border: 1px solid black;
}

/*.click {
	border: 1px solid black;
}*/